#homebar {
    background-color:blueviolet;
    display: flex;
    justify-content: right;
    list-style-type: none;
    padding: 10px;
    border-radius: 2rem;
    align-items: center;
    margin: 0 20px;
    height: 60px;
}
#homebar li:first-child {float:left; margin-right:auto;} a{
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
#logo {
    height: 120px;
    width: auto;
    margin-right: 10px;
}